anyio @ file:///C:/Users/task_177313442989302/croot/anyio_1773134518743/work
argon2-cffi @ file:///C:/Users/task_176606720590109/croot/argon2-cffi_1766067889388/work
argon2-cffi-bindings @ file:///C:/miniconda3/conda-bld/argon2-cffi-bindings_1757925008107/work
asttokens @ file:///C:/Users/task_177313476361522/croot/asttokens_1773135662149/work
async-lru @ file:///C:/miniconda3/conda-bld/async-lru_1761121585997/work
attrs @ file:///C:/Users/task_177495967569670/croot/attrs_1774959745640/work
babel @ file:///C:/miniconda3/conda-bld/babel_1764159347589/work
beautifulsoup4 @ file:///C:/Users/task_177029098385702/croot/beautifulsoup4-split_1770291847389/work
bleach @ file:///C:/Users/task_177754500691588/croot/bleach_1777545106777/work
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961399696/work
certifi @ file:///C:/Users/task_177697110847335/croot/certifi_1776971221683/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832792995/work
charset-normalizer @ file:///C:/miniconda3/conda-bld/charset-normalizer_1761744960410/work
colorama @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/colorama_1699472650914/work
comm @ file:///C:/miniconda3/conda-bld/comm_1763119289758/work
contourpy==1.3.3
cycler==0.12.1
debugpy @ file:///C:/miniconda3/conda-bld/debugpy_1762421659047/work
decorator @ file:///C:/miniconda3/conda-bld/decorator_1757341251593/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
executing @ file:///C:/miniconda3/conda-bld/executing_1757061247746/work
fastjsonschema @ file:///C:/miniconda3/conda-bld/python-fastjsonschema_1763718733511/work
filelock==3.25.2
fonttools==4.62.1
fsspec==2026.2.0
h11 @ file:///C:/miniconda3/conda-bld/h11_1761931280755/work
html5lib @ file:///Users/ktietz/demo/mc3/conda-bld/html5lib_1629144453894/work
httpcore @ file:///C:/b/abs_25m7_xthp6/croot/httpcore_1748526065845/work
httpx @ file:///C:/miniconda3/conda-bld/httpx_1760447370855/work
idna @ file:///C:/miniconda3/conda-bld/idna_1761912000545/work
ipykernel @ file:///C:/Users/task_177261243013555/croot/ipykernel_1772612530534/work
ipython @ file:///C:/Users/task_177399611948205/croot/ipython_1773996188953/work
ipython_pygments_lexers @ file:///C:/b/abs_b66hj1lo19/croot/ipython_pygments_lexers_1744753262043/work
jedi @ file:///C:/b/abs_3a2kbnlclc/croot/jedi_1733987412687/work
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
json5 @ file:///C:/miniconda3/conda-bld/json5_1763718583099/work
jsonschema @ file:///C:/Users/task_176795547660335/croot/jsonschema_1767955582100/work
jsonschema-specifications @ file:///C:/miniconda3/conda-bld/jsonschema-specifications_1762788642063/work
jupyter-events @ file:///C:/Users/task_177806693165370/croot/jupyter_events_1778067291474/work
jupyter-lsp @ file:///C:/Users/task_176977265323498/croot/jupyter-lsp_1769772761338/work
jupyter_client @ file:///C:/Users/task_176839881855479/croot/jupyter_client_1768399067345/work
jupyter_core @ file:///C:/miniconda3/conda-bld/jupyter_core_1764588340612/work
jupyter_server @ file:///C:/Users/task_176961316252429/croot/jupyter_server_1769613457280/work
jupyter_server_terminals @ file:///C:/Users/task_177028942035208/croot/jupyter_server_terminals_1770289557502/work
jupyterlab @ file:///C:/Users/task_177512631422137/croot/jupyterlab_1775126388007/work
jupyterlab_pygments @ file:///C:/b/abs_d5alfet8m6/croot/jupyterlab_pygments_1741124274578/work
jupyterlab_server @ file:///C:/Users/task_176962943097182/croot/jupyterlab_server_1769629894745/work
kiwisolver==1.5.0
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
matplotlib==3.10.9
matplotlib-inline @ file:///C:/miniconda3/conda-bld/matplotlib-inline_1762779270163/work
mistune @ file:///C:/b/abs_77yql3poyz/croot/mistune_1741124004410/work
mpmath==1.3.0
nbclient @ file:///C:/Users/task_177157717297270/croot/nbclient_1771577292045/work
nbconvert @ file:///C:/Users/task_177212129959087/croot/nbconvert-meta_1772121362858/work
nbformat @ file:///C:/b/abs_c2jkw46etm/croot/nbformat_1728050303821/work
nest-asyncio @ file:///C:/b/abs_65d6lblmoi/croot/nest-asyncio_1708532721305/work
networkx==3.6.1
notebook_shim @ file:///C:/Users/task_176962941563126/croot/notebook-shim_1769629909840/work
numpy==2.4.3
opencv-contrib-python==4.13.0.92
opencv-python==4.13.0.92
packaging==26.0
pandocfilters @ file:///C:/miniconda3/conda-bld/pandocfilters_1756977625907/work
parso @ file:///C:/miniconda3/conda-bld/parso_1762781973155/work
pillow==12.1.1
platformdirs @ file:///C:/Users/task_177365233474322/croot/platformdirs_1773652997844/work
polars==1.40.1
polars-runtime-32==1.40.1
prometheus_client @ file:///C:/Users/task_177273343012619/croot/prometheus_client_1772733495064/work
prompt_toolkit @ file:///C:/miniconda3/conda-bld/prompt-toolkit_1761745042157/work
psutil @ file:///C:/miniconda3/conda-bld/psutil_1761896535983/work
pure_eval @ file:///C:/miniconda3/conda-bld/pure_eval_1757067062212/work
pycparser @ file:///C:/Users/task_177495970455161/croot/pycparser_1774959805958/work
Pygments @ file:///C:/Users/task_177512674175235/croot/pygments_1775127041713/work
pyparsing==3.3.2
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753030940/work
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
python-json-logger @ file:///C:/miniconda3/conda-bld/python-json-logger_1764590275574/work
pywin32 @ file:///C:/b/abs_6c9w_vp9zi/croot/pywin32_1754670534373/work
pywinpty @ file:///C:/Users/task_177521347091837/croot/pywinpty_1775213565643/work/pywinpty-src
PyYAML @ file:///C:/miniconda3/conda-bld/pyyaml_1763465556755/work
pyzmq @ file:///C:/miniconda3/conda-bld/pyzmq_1762375609374/work
referencing @ file:///C:/miniconda3/conda-bld/referencing_1762536906757/work
requests @ file:///C:/Users/task_177506612367653/croot/requests_1775066193776/work
rfc3339-validator @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/rfc3339-validator_1699543924991/work
rfc3986-validator @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/rfc3986-validator_1699543955651/work
rpds-py @ file:///C:/miniconda3/conda-bld/rpds-py_1762366604816/work
scipy==1.17.1
Send2Trash @ file:///C:/Users/task_176817069615920/croot/send2trash_1768170818653/work
setuptools==70.2.0
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
soupsieve @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/soupsieve_1699496611169/work
stack_data @ file:///C:/miniconda3/conda-bld/stack_data_1757067057854/work
sympy==1.14.0
terminado @ file:///C:/Users/task_176959141859340/croot/terminado_1769591760492/work
tinycss2 @ file:///C:/miniconda3/conda-bld/tinycss2_1764949123118/work
torch==2.11.0+cu126
torchvision==0.26.0+cu126
tornado @ file:///C:/Users/task_177430355912797/croot/tornado_1774303663718/work
traitlets @ file:///C:/b/abs_bfsnoxl4pq/croot/traitlets_1718227069245/work
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
ultralytics==8.4.47
ultralytics-thop==2.0.19
urllib3 @ file:///C:/Users/task_176781037409812/croot/urllib3_1767810504598/work
wcwidth @ file:///C:/Users/task_176777900306880/croot/wcwidth_1767779219428/work
webencodings @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/webencodings_1699497069416/work
websocket-client @ file:///C:/b/abs_5dmnxxoci9/croot/websocket-client_1715878351319/work
wheel==0.47.0
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746278813/work
